__pycache__/
*.py[cod]
.venv/
venv/
*.ppm
.DS_Store
build/obj/
build/moc/
build/rcc/
build/ui/
build/pyi/
Makefile
Makefile.*
.qmake.stash
*.user
_vendor/

build/*.spec


VirtualScreen_resource.rc
build/
dist/portable/
dist/VirtualScreen-Setup*.exe
dist/VirtualScreen-v*.exe

